/* .items {
    display: inline-block;
    position: fixed;
    border: 3px black;
    background-color: rgb(176, 176, 185);
} */

body {
    background-color: rgb(141, 141, 141);
}

input {
    border: black 3px;
    display: inline-block;
    border-radius: 5px;
    height: 2rem;
}

.button {
    height: 2rem;
}

#form {
    width: fit-content;
    margin: 0 auto;
    outline: 2px solid red;
}

li {
    background-color: white;
    width: fit-content;
    margin: 0 auto;
}